[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
tiktoken = "*"
diffusers = "*"
transformers = "*"
accelerate = "*"
safetensors = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.11"
